@use 'scss/config' as *;

.block {
  @include size(100%);

  padding: rem(16px);
  background-color: var(--primary);
  border-radius: var(--border-radius-4);

  &.active {
    border: rem(2px) solid var(--red);

    .icon {
      color: var(--red);
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: rem(24px);
  margin-top: rem(16px);
}

.left,
.right {
  display: grid;
  align-content: flex-start;
  gap: rem(8px);
}

.right {
  font-size: rem(14px);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.actions {
  @include flex(flex-end);

  gap: rem(8px);
}

.icon {
  font-size: rem(60px);
  color: var(--green);
}

.value {

  &.red {
    color: var(--red);
  }
}
