@use 'scss/config' as *;

.block {
  display: grid;
  gap: rem(16px);
}

.info {
  @include flex(space-between, center);

  margin-bottom: rem(8px);
}

.title {
  border-top: rem(1px) solid var(--primary);
  margin-bottom: rem(16px);
  padding-top: rem(8px);
}
