@use 'scss/config' as *;

.block {
  display: grid;
  gap: rem(16px);
}

.info {
  @include make-spacer(mb, 8px);
  @include flex(space-between, center)
}

.title {
  @include make-spacer(pt, 8px);
  @include make-spacer(mb, 16px);

  border-top: rem(1px) solid var(--color-border);
}
