@use 'scss/config' as *;

.block {
  position: relative;
  min-width: rem(80px);
  width: fit-content;
  text-transform: uppercase;
  font-size: rem(14px);

  &.active {

    .arrow {
      transform: rotateZ(180deg);
    }
  }

  &.disabled {
    user-select: none;
    pointer-events: none;
  }
}

.selected {
  @include transition;
  @include flex(space-between, center);
  @include size(100%, rem(40px));

  position: relative;
  padding-inline: rem(16px) rem(8px);
  border: rem(1px) solid var(--border);
  background-color: var(--primary);
  border-radius: var(--border-radius-default);
  cursor: pointer;
  min-width: rem(60px);
  overflow: hidden;
  gap: rem(5px);

  @include hover {
    &:hover {
      border-color: var(--link);
    }
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + rem(12px));
  right: 0;
  z-index: $z-index-11;
  border-radius: var(--border-radius-default);
  background-color: var(--material);
  border: rem(1px) solid var(--border);
  min-width: rem(80px);
  max-height: rem(300px);
  overflow-y: auto;
}

.link {
  @include flex(null, center);
  @include size(100%, 36px);

  padding: rem(5px) rem(16px);
  text-transform: uppercase;
  gap: rem(12px);

  @include hover {
    &:hover {
      background-color: var(--primary);
      color: var(--link);
    }
  }
}

.arrow {
  @include size(rem(14px));
  @include transition;
}

.icon {
  @include size(20px, auto);

  border-radius: var(--border-radius-2);
}
