@use 'scss/config' as *;

.block {
  @include flex(center, center);
  @include size(100%, 100vh);

  padding: rem(16px);
}

.wrapper {
  max-width: rem(420px);
  width: 100%;
}

.form {
  display: grid;
  gap: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
}
