@use 'scss/config' as *;

.block {
  @include flex(center, center);

  inset: 0;
  background-color: var(--material);

  &.content {
    position: absolute;
    z-index: $z-index-2;
  }

  &.default {
    position: fixed;
    z-index: $z-index-13;
  }

  &.loading {
    position: absolute;
    inset: rem(-16px);
    z-index: $z-index-2;
    background-color: var(--material);
    border-radius: var(--border-radius-default);
  }
}

.item {
  @include size(rem(50px));

  position: relative;
  border-radius: 50%;

  &::before {
    @include size(100%);

    position: absolute;
    top: 0;
    left: 0;
    border: rem(10px) solid var(--link);
    border-radius: inherit;
    animation: 1s infinite ease-in-out spin;
    content: '';
  }

  @keyframes spin {

    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}
