@use 'scss/config' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(16px);
  margin-bottom: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);

  &:not(:last-child) {
    margin-bottom: rem(16px);
  }
}
