@use 'scss/config' as *;

.block {
  display: grid;
  gap: rem(2px);
}

.row {
  display: grid;
  grid-template-columns: rem(50px) 1fr auto auto;
  align-items: center;
  border-bottom: rem(1px) solid var(--border);
}

.cell {
  padding: rem(4px) rem(8px);
}
