@use 'scss/config' as *;

.block {
  display: grid;
  gap: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
}

pre {
  word-wrap: break-word;
  background: #9696961a;
  border: 1px solid #64646433;
  border-radius: 3px;
  padding: .4em .6em;
  white-space: pre-wrap;
}
