@use 'scss/config' as *;

.toggle {
  @include flex(flex-start, center);

  gap: rem(10px);
  margin: rem(10px) 0;
}

.label {
  font-size: rem(14px);
  color: #333;
}

.switch {
  @include size(rem(50px), rem(28px));
  @include transition(background-color);

  border-radius: rem(50px);
  background-color: #ccc;
  position: relative;
  cursor: pointer;
}

.switch.on {
  background-color: var(--color-primary);
}

.knob {
  @include transition(transform);

  position: absolute;
  top: rem(2px);
  left: rem(2px);
  height: rem(24px);
  width: rem(24px);
  border-radius: 50%;
  background: white;
}

.switch.on .knob {
  transform: translateX(22px);
}
