@use 'scss/config' as *;

.block {
  display: grid;
  row-gap: rem(16px);
}

.circle {
  @include flex(center, center);
  @include size(rem(65px));

  border-radius: 50%;
  background-color: var(--border);
}

.item {
  display: grid;
  grid-template-columns: rem(65px) 1fr;
  align-items: center;
  gap: rem(16px);
  position: relative;
  padding-inline-start: rem(20px);
  padding-block: rem(10px);
  font-size: rem(14px);
  border-bottom: rem(1px) solid var(--border);

  &.success {
    .circle {
      background-color: var(--green);
    }
  }

  &.danger {
    .circle {
      background-color: var(--amber);
    }
  }

  &.error {
    .circle {
      background-color: var(--red);
    }
  }
}

.line {
  @include size(rem(8px), auto);

  position: absolute;
  top: 0;
  bottom: rem(-1px);
  left: 0;
}
