@use 'scss/config' as *;

.block {
  display: grid;
  gap: rem(16px);
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: rem(4px) rem(8px);
  vertical-align: middle;
  border-bottom: rem(1px) solid var(--primary);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
  position: relative;
}
