@use 'scss/config' as *;

.grid {
  --count: 1;

  display: grid;
  gap: rem(16px);
  margin-bottom: rem(16px);
  grid-template-columns: repeat(var(--count), 1fr);

  @include mob-m {
    --count: 2;
  }

  @include tab-l {
    --count: 3;
  }

  @include desk-s {
    --count: 4;
  }
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);

  &:not(:last-child) {
    margin-bottom: rem(16px);
  }
}

.paper {
  min-height: rem(150px);
}

.table {
  @include scroll-x;
}
