@use 'scss/config' as *;

.block {
  @include size(fit-content, rem(38px));

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-default);
  padding-inline: rem(20px);
  min-width: rem(100px);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  color: currentColor;
  font-size: rem(14px);

  &.disabled {
    pointer-events: none;
  }

  &.primary {
    color: var(--text-for-brand);
    background: var(--brand);

    &:disabled,
    &.disabled {
      color: var(--text-for-brand-disabled);
      background: var(--brand-disabled);
    }

    &:active,
    &.active {
      background: var(--brand-hover);
    }

    @include hover {

      &:hover {
        background: var(--brand-hover);
      }
    }
  }

  &.secondary {
    background-color: var(--primary);

    &:active,
    &.active {
      background-color: var(--primary-hover);
    }

    &:disabled,
    &.disabled {
      background-color: var(--primary-disabled);
      color: var(--text-for-primary-disabled);
    }

    @include hover {

      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }

  &.tertiary {
    border: rem(1px) solid var(--tertiary);

    &:disabled,
    &.disabled {
      background-color: var(--tertiary-disabled);
    }

    @include hover {

      &:hover {
        background-color: var(--tertiary-hover);
      }
    }
  }

  &.error {
    background-color: var(--red);

    &:disabled,
    &.disabled {
      opacity: 0.5;
    }

    @include hover {

      &:hover {
        background-color: var(--red-hover);
      }
    }
  }

  &.success {
    background-color: var(--green);

    &:disabled,
    &.disabled {
      opacity: 0.5;
    }

    @include hover {

      &:hover {
        background-color: var(--green-hover);
      }
    }
  }

  &.square {
    height: 100%;
    aspect-ratio: 1 / 1;
    min-width: auto;
    font-size: rem(18px);
  }
}
