@use 'scss/config' as *;

.block {
  @include flex(flex-end, center);

  position: relative;
  z-index: 1;

  &.top {
    margin-bottom: rem(8px);
    padding-bottom: rem(8px);
    border-bottom: rem(1px) solid var(--border);
  }

  &.bottom {
    margin-top: rem(8px);
    padding-top: rem(8px);
    border-top: rem(1px) solid var(--border);
  }
}

.text {
  margin-inline: rem(16px);
}

.action {
  @include size(rem(42px));

  border-radius: var(--border-radius-default);
  font-size: rem(14px);

  @include hover {
    &:hover {
      background-color: var(--primary);
    }
  }

  &.disabled {
    color: var(--primary-disabled);
    pointer-events: none;
  }
}

.icon {
  @include transition;

  color: currentColor;
}
