@use 'scss/config' as *;

.block {
  @include transition;
  @include flex($direction: column);

  position: relative;
  border-radius: var(--border-radius-default);
  background-color: var(--material);
  padding: rem(16px);
  height: 100%;
  border-bottom: rem(2px) solid var(--border);

  @include hover {
    &:hover {
      border-bottom-color: var(--link);
    }
  }

  &:not(:last-child) {
    margin-bottom: rem(16px);
  }

  &.transparent {
    border-radius: unset;
    box-shadow: unset;
    background-color: transparent;
  }

  &.sm {
    height: auto;

    .body {
      overflow: unset;
    }
  }
}

.headline {
  @include flex(space-between, center);
}

.option {
  flex-shrink: 0;
  width: rem(200px);
}

.hr {
  margin-block: rem(24px);
}

.body {
  position: relative;
  flex-grow: 1;
  min-height: rem(120px);
}
