@use 'scss/config' as *;

.body {
  display: grid;
  flex-grow: 1;
  position: relative;
  width: 100%;
  min-height: rem(120px);
}

.block {
  @include transition;
  @include flex($direction: column);

  position: relative;
  padding: rem(16px);
  border-radius: var(--border-radius-default);
  height: 100%;
  background-color: var(--material);

  &:not(.transparent) {
    border-bottom: rem(2px) solid var(--border);

    @include hover {
      &:hover {
        border-bottom-color: var(--link);
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: rem(16px);
  }

  &.transparent {
    border-radius: unset;
    background-color: transparent;
    box-shadow: unset;
  }

  &.sm {
    height: auto;

    .body {
      overflow: unset;
    }
  }
}

.headline {
  @include flex(space-between, center, null, wrap);

  gap: rem(16px);
}

.option {
  flex-shrink: 0;

  @include tab-l {
    min-width: rem(140px);
  }
}

.hr {
  margin-block: rem(16px);

  @include tab-l {
    margin-block: rem(24px);
  }
}
