@use 'scss/config' as *;

.block {
  position: relative;
  width: 100%;

  &.sm {

    .input {
      padding: rem(8px);
      height: rem(46px);
      min-height: rem(46px);
    }
  }

  &.lg {

    .input {
      height: rem(80px);
      min-height: rem(80px);
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.label {
  @include transition;

  position: absolute;
  top: rem(18px);
  left: rem(16px);
  padding-inline: rem(4px);
  transform: translateY(rem(-23px));
  border-radius: var(--border-radius-4);
  background-color: var(--material-disabled);
  border: rem(1px) solid var(--border);
  font-size: rem(10px);
  pointer-events: none;
}

.input {
  @include size(100%, rem(56px));
  @include transition(border-color);

  display: block;
  padding-top: rem(16px);
  padding-inline: rem(16px);
  border: rem(1px) solid var(--border);
  border-radius: var(--border-radius-default);
  background-color: var(--primary);
  border-radius: var(--border-radius-default);
  min-height: rem(56px);
  overflow: hidden;
  resize: vertical;
  outline: 0;

  &:read-only {
    opacity: 0.6;
  }

  &:focus {
    border-color: var(--link);
  }
}
