@use 'scss/config' as *;

.block {
  position: relative;
  padding: rem(4px) rem(8px);
  border: rem(1px) solid currentcolor;
  border-radius: var(--border-radius-8);
  overflow: hidden;
  font-size: rem(12px);

  &::before {
    position: absolute;
    inset: 0;
    background-color: currentcolor;
    opacity: 0.1;
    content: '';
  }

  &.error {
    color: var(--red);
  }

  &.warning {
    color: var(--amber);
  }

  &.info {
    color: var(--blue);
  }
}
