@use 'scss/config' as *;

.block {
  position: relative;
  overflow: hidden;
}

.header {
  @include flex(null, center);
  @include scroll-x;

  border-bottom: rem(1px) solid var(--border);
  background-clip: content-box;
  overflow-y: hidden;
  height: rem(52px);
}

.link {
  @include flex(center, center);

  position: relative;
  flex-shrink: 0;
  padding-inline: rem(10px);
  min-width: rem(60px);
  height: 100%;
  text-transform: uppercase;
  font-size: rem(14px);

  &::after {
    @include transition(width);
    @include size(0, rem(2px));

    position: absolute;
    inset-inline: 0;
    bottom: rem(-1px);
    background-color: var(--link);
    content: '';
  }

  &.active,
  &:hover {

    &::after {
      width: 100%;
    }
  }

  &.active {
    color: var(--link);
    pointer-events: none;
  }
}

.body {
  display: grid;
  grid-gap: rem(16px);
  padding-top: rem(20px);
  min-height: rem(150px);
  position: relative;
}

.form {
  display: grid;
  gap: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
  position: relative;
}
