@use 'scss/config' as *;

.block {
  @include size(100%, rem(56px));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover {
    &:hover {
      .input {
        border-color: var(--link);
      }
    }
  }
}

.label {
  @include transition;

  position: absolute;
  top: rem(18px);
  left: rem(16px);
  padding-inline: rem(4px);
  border-radius: var(--border-radius-4);
  background-color: var(--material-disabled);
  border: rem(1px) solid var(--border);
  transform: translateY(rem(-23px));
  color: var(--text-for-material);
  font-size: rem(10px);
  pointer-events: none;

  span {
    margin-left: rem(3px);
    color: var(--red);
  }
}

.eye {
  @include absolute-center-right(0);
  @include size(rem(56px), 100%);

  opacity: 0.5;

  @include hover {
    &:hover {
      opacity: 1;
    }
  }
}

.input {
  @include transition(border-color);
  @include size(100%);

  border: rem(1px) solid var(--border);
  border-radius: var(--border-radius-default);
  background-color: var(--primary);
  padding-inline: rem(16px) rem(56px);
  color: var(--text-for-material);
  overflow: hidden;
  caret-color: currentColor;
  text-align: left;

  &:focus {
    border-color: var(--link);
  }

  &:is(:-webkit-autofill, :autofill) {
    -webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
    -webkit-text-fill-color: var(--text-for-material);
    -webkit-background-clip: text;
  }
}
