@use '../config' as *;

button {
  @include reset-button;
}

button,
a,
input {
  color: inherit;

  &:focus {
    outline: none;
  }
}

input,
textarea {
  caret-color: currentColor;

  &::placeholder {
    color: var(--text-for-material);
  }

  &:-webkit-autofill {
    caret-color: var(--text-for-material)!important;
  }
}

button,
a {
  @include transition(all);

  font-weight: var(--typography-regular);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover {
    color: var(--link);
  }
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  @include reset-list;
}

picture,
img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

hr {
  @include size(100%, rem(1px));

  display: block;
  border: 0!important;
  margin-block: 0;
  background-color: var(--border);
}

canvas {
  width: 100%!important;
}
