@use '../config' as *;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  background-image: linear-gradient(180deg, var(--material) 0%, var(--bg) 30%);
  min-width: rem(1366px);
  min-height: 100dvh;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--text-for-material);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-thin);
}

button {
  @include reset-button;
}

button,
a,
input {
  color: inherit;

  &:focus {
    outline: none;
  }
}

button,
a {
  @include transition(all);

  font-weight: var(--typography-thin);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover {
    color: var(--link);
  }
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  @include reset-list;
}

picture,
img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

hr {
  @include size(100%, rem(1px));

  display: block;
  border: 0;
  margin-block: 0;
  background-color: var(--border);
}
