@use 'scss/config' as *;

.block {
  @include transition;

  position: fixed;
  inset-block: rem(65px) 0;
  inset-inline-end: 0;
  z-index: $z-index-11;
  border-left: rem(1px) solid var(--border);
  background-color: var(--material);
  transform: translateX(100%);
  max-width: rem(520px);
  width: 100%;
  overflow: hidden;

  &.active {
    transform: translateX(0);
  }
}

.wrapper {
  @include size(100%);

  position: relative;
  max-height: 100%;
  overflow-y: auto;
}
