@use 'scss/config' as *;

.block {
  @include transition;

  position: fixed;
  top: rem(65px);
  right: 0;
  bottom: 0;
  z-index: $z-index-11;
  border-left: rem(1px) solid var(--primary-hover);
  background-color: var(--material);
  transform: translateX(100%);
  width: rem(520px);
  overflow: hidden;

  &.active {
    transform: translateX(0);
  }
}

.wrapper {
  @include size(100%);

  position: relative;
  max-height: 100%;
  overflow-y: auto;
}
