@use 'scss/config' as *;

.block {
  width: 100%;
  overflow: hidden;
  font-size: rem(14px);
  font-weight: var(--typography-thin);
}

.row {
  display: grid;
  grid-template-columns: rem(80px) repeat(3, 1fr) repeat(2, rem(80px)) repeat(2, 1fr) repeat(4, rem(100px));

  &:not(:last-child) {
    border-bottom: rem(1px) solid var(--primary);
  }

  &:first-child {
    font-size: rem(12px);
    font-weight: var(--typography-medium);

    .cell {
      &:has(svg) {
        cursor: pointer;
      }
    }
  }
}

.cell {
  @include flex(null, center, null, wrap);

  gap: rem(4px);
  padding: rem(12px);
}

.empty {
  padding-top: rem(12px);
  padding-inline: rem(12px);
  text-align: center;
}

.actions {
  @include flex($align-items: center);

  gap: rem(6px);
  margin-top: rem(4px);
}
