@use 'scss/config' as *;

.block {
  position: relative;
}

.toggle {
  @include flex(center, center);
  @include size(rem(40px));

  border-radius: 50%;
  background-color: var(--primary);
  color: var(--text-for-primary);

  @include hover {
    &:hover {
      background: var(--brand-hover);
    }
  }
}

.wrapper {
  @include transition;
  @include flex(null, null, column);

  position: fixed;
  right: 0;
  inset-block: rem(64px) 0;
  padding-top: rem(8px);
  border: rem(1px) solid var(--border);
  width: rem(250px);
  background-color: var(--material);
  z-index: $z-index-11;
  transform: translateX(100%);

  &.active {
    transform: translateX(0);
  }
}

.header {
  padding-inline: rem(12px);
}

.text {
  margin-bottom: rem(4px);
  opacity: 0.7;
  font-size: rem(14px);

  span {
    font-size: rem(12px);
  }
}

.options {
  margin-bottom: auto;
  padding: rem(4px) rem(12px);
  border-block: rem(1px) solid var(--border);
}

.option {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: rem(8px);

  &:not(:last-child) {
    margin-bottom: rem(4px);
  }
}

.logout {
  @include flex(null, center);

  padding: rem(12px);
  width: 100%;
  border-top: rem(1px) solid var(--border);

  @include hover {
    &:hover {
      background-color: var(--primary);
      color: var(--link);
    }
  }
}
