@use 'scss/config' as *;

.block {
  position: relative;
}

.text,
.link {
  padding-inline: rem(12px);
}

.icon {
  font-size: rem(18px);
}

.toggle {
  @include flex(center, center);
  @include size(rem(40px));

  border-radius: 50%;
  background-color: var(--sub-text);
}

.wrapper {
  position: absolute;
  top: calc(100% + rem(12px));
  right: 0;
  padding-top: rem(8px);
  z-index: $z-index-11;
  border-radius: var(--border-radius-default);
  background-color: var(--material);
  border: rem(1px) solid var(--border);
  width: rem(250px);
}

.text {
  opacity: 0.7;
  margin-bottom: rem(4px);
  font-size: rem(14px);

  span {
    font-size: rem(12px);
  }
}

.ul {
  margin-top: rem(4px);
}

.link {
  @include flex(null, center);

  padding-block: rem(8px);
  width: 100%;

  @include hover {
    &:hover {
      background-color: var(--primary);
      color: var(--link);
    }
  }

  &.active {
    color: var(--link);
    pointer-events: none;
  }
}
