@use 'scss/config' as *;

.main {
  position: relative;
  min-height: calc(100vh - rem(64px));
  padding: rem(16px);
  margin-left: rem(56px);
  overflow-x: auto;

  @include tab-l {
    padding: rem(24px);
  }
}
