@use 'scss/config' as *;

.main {
  position: relative;
  margin-inline-start: rem(56px);
  padding: rem(16px);
  min-height: calc(100vh - rem(64px));
  overflow-x: auto;

  @include tab-l {
    padding: rem(24px);
  }
}
