@use 'scss/config' as *;

.block,
.form,
.column,
.grid {
  display: grid;
  gap: rem(16px);
}

.form,
.grid {
  align-items: flex-start;

  @include tab-l {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  @include flex(flex-end);

  gap: rem(16px);
}

.list {
  @include flex($wrap: wrap);

  gap: rem(8px);
}
