@use 'scss/config' as *;

.block {
  position: relative;
  margin-bottom: rem(24px);
  border: rem(1px) solid var(--primary-hover);
  border-radius: var(--border-radius-10);
  background-color: var(--bg);
  color: var(--text-for-material);
}

.button {
  @include flex(space-between, center);

  gap: rem(4px);
  padding: rem(8px);
  width: 100%;

  &.active {
    .icon {
      transform: rotateZ(180deg);
    }
  }
}

.icon {
  @include transition;
}

.pre {
  margin: rem(8px);
  white-space: break-spaces;
}
