@use 'scss/config' as *;

.block {
  @include size(rem(32px));

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-inline: rem(1px);
  border-radius: var(--border-radius-4);
  background-color: var(--primary);
  font-size: rem(20px);

  @include hover {

    &:hover {
      background: var(--brand-hover);
      color: var(--text-for-primary);
    }
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.warning,
  &.error,
  &.success {
    color: var(--text-for-primary);
  }

  &.warning {
    background-color: var(--amber);

    @include hover {

      &:hover {
        background-color: var(--amber-hover);
      }
    }
  }

  &.error {
    background-color: var(--red);

    @include hover {

      &:hover {
        background-color: var(--red-hover);
      }
    }
  }

  &.success {
    background-color: var(--green);

    @include hover {

      &:hover {
        background-color: var(--green-hover);
      }
    }
  }
}
