@use 'scss/config' as *;

.block,
.form,
.grid {
  display: grid;
  gap: rem(16px);
}

.block,
.grid {
  align-items: flex-start;

  @include tab-l {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  @include flex(flex-end);

  gap: rem(16px);
}

.text {
  margin-bottom: rem(4px);
}

.picture {
  height: 100%;
  object-fit: cover;
}

.banner {
  @include size(rem(190px), auto);

  position: relative;
  padding-bottom: rem(44px);
  border-radius: var(--border-radius-default);
  background-color: var(--material);
  overflow: hidden;

  &::before {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    height: calc(50% - rem(44px));
    background: linear-gradient(to top, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 80%) 70%, rgb(0 0 0 / 0%) 100%);
    z-index: $z-index-1;
    content: '';
  }

  &.disabled {
    .picture {
      opacity: 0.7;
    }
  }
}

.header {
  @include flex(space-between, center);

  position: absolute;
  inset-block-start: rem(8px);
  inset-inline: rem(8px);
}

.content {
  display: grid;
  gap: rem(8px);
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  padding: 0 rem(12px) rem(12px);
  z-index: $z-index-1;
}

.title {
  font-size: rem(14px);
  font-weight: var(--typography-bold);
}

.button {
  @include size(100%, rem(32px));

  flex-shrink: 0;
  margin-top: auto;
  padding-inline: rem(12px);
  border-radius: rem(1000px);
  font-size: rem(12px);
}

.info {
  padding: 0;
  height: rem(24px);
  font-size: rem(12px)!important;
  text-transform: lowercase;
}

.label {
  margin-top: rem(4px);
  font-size: rem(12px);
}
