:root {
  --brand: #97195a;
  --brand-hover: #be1270;
  --brand-disabled: rgba(180, 21, 106, 0.24);
  --text-for-brand: #fff;
  --text-for-brand-disabled: rgba(255, 255, 255, 0.24);

  --primary: rgba(78, 58, 67, 0.64);
  --primary-hover: rgba(78, 58, 67, 0.88);
  --primary-disabled: rgba(78, 58, 67, 0.4);
  --text-for-primary: #fff;
  --text-for-primary-disabled: rgba(255, 255, 255, 0.4);

  --link: #f070a6;
  --link-hover: #ea5398;
  --link-disabled: #fbb2cd;

  --material: #2a121c;
  --material-hover: #3e2831;
  --material-disabled: #3e2831;
  --text-for-material: #fff;
  --text-for-material-disabled: rgba(255, 255, 255, 0.4);

  --tertiary: #fff;
  --tertiary-hover: rgba(255, 255, 255, 0.32);
  --tertiary-disabled: rgba(255, 255, 255, 0.1);

  --sub-text: rgba(255, 255, 255, 0.68);

  --bg: #0d0509;
  --border: rgba(78, 58, 67, 0.64);
  --amber: #f38a28;
  --amber-hover: #78421c;
  --red: #c21e1c;
  --red-hover: #930102;
  --green: #007447;
  --green-hover: #034f50;
  --blue: #0867a4;
  --blue-hover: #00498d;
  --white: #fff;
  --black: #000;
}
