@use 'scss/config' as *;

:global {
  // Select
  .react-select-container {
    @include size(100%);

    cursor: pointer;

    .react-select {

      &__control {
        padding-left: rem(16px);
        border-radius: var(--border-radius-default);
        box-shadow: none;
        cursor: pointer;
        border: rem(1px) solid var(--border);
        background-color: var(--primary);
        height: 100%;

        &:hover {
          border-color: var(--link);
        }

        &--is-focused {
          border-color: var(--link);
        }

        &--menu-is-open {

          .react-select {

            &__indicator {
              transform: rotateZ(180deg);
            }
          }
        }
      }

      &__placeholder {
        color: var(--text-for-material);
      }

      &__value-container {
        padding: 0;
      }

      &__input-container {
        margin: 0;
        flex-grow: 1;
      }

      &__indicator-separator {
        display: none;
      }

      &__single-value {
        color: var(--text-for-material);
      }

      &__indicator {
        @include transition;
        @include flex(center, center);
        @include size(var(--select-height), 100%);

        color: var(--text-for-material)!important;
      }

      &__clear-indicator {
        display: none;
      }

      &__menu {
        margin-block: 0;
        overflow: hidden;
        border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
        border: rem(1px) solid var(--border);
        box-shadow: unset;
        background-color: var(--material-hover);
        z-index: $z-index-2;
      }

      &__menu-list {
        padding: 0;
      }

      &__option {
        @include transition;

        padding-block: rem(6px);
        padding-left: rem(16px);
        cursor: pointer;

        &:hover {
          background-color: var(--primary-hover);
          color: var(--text-for-material);
        }

        &--is-focused {
          background-color: var(--primary-hover);
        }

        &--is-selected {
          background-color: var(--primary-disabled);
          color: var(--text-for-material);
        }
      }
    }
  }

  .tox {

    &.tox-silver-sink {

      .tox-tooltip {

        &__body {
          background-color: var(--material);
          color: var(--text-for-material);
        }
      }

      .tox-menu {
        background-color: var(--material);
        border: 0;
        box-shadow: none;
        color: var(--text-for-material);
      }

      .tox-collection {

        &__group {
          padding-block: 0;
        }

        &__item {
          color: var(--text-for-material);

          &--active {
            &:not(.tox-collection__item--state-disabled) {
              background-color: var(--link)!important;
            }
          }

          &--enabled {
            &:not(.tox-collection__item--state-disabled) {
              background-color: var(--link-hover)!important;
            }
          }
        }
      }

      .tox-toolbar {

        &__group {
          cursor: pointer;
        }
      }

      .tox-tooltip {

        &__body {
          background-color: var(--material);
          color: var(--text-for-material);
        }
      }
    }
  }
}

.tooltip {
  background-color: var(--material-hover)!important;
  max-width: rem(320px);
  color: var(--text-for-material)!important;
  font-size: rem(12px)!important;
  z-index: $z-index-10;
}
