@use 'scss/config' as *;

:global {
  // Select
  .react-select-container {
    @include size(100%);

    cursor: pointer;

    .react-select {
      &__indicator {
        @include transition;
        @include flex(center, center);
        @include size(var(--select-height), 100%);

        color: var(--text-for-material)!important;
      }

      &__control {
        padding-inline-start: rem(16px);
        border: rem(1px) solid var(--border);
        border-radius: var(--border-radius-default);
        height: 100%;
        background-color: var(--primary);
        box-shadow: none;
        cursor: pointer;

        &:hover {
          border-color: var(--link);
        }

        &--is-focused {
          border-color: var(--link);
        }

        &--menu-is-open {
          .react-select {
            &__indicator {
              transform: rotateZ(180deg);
            }
          }
        }
      }

      &__placeholder {
        color: var(--text-for-material);
      }

      &__value-container {
        padding: 0;
      }

      &__input-container {
        flex-grow: 1;
        margin: 0;
        color: var(--text-for-material)!important;
      }

      &__indicator-separator {
        display: none;
      }

      &__single-value {
        color: var(--text-for-material);
      }

      &__clear-indicator {
        display: none;
      }

      &__menu {
        margin-block: 0;
        border: rem(1px) solid var(--border);
        border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
        background-color: var(--material-hover);
        box-shadow: unset;
        overflow: hidden;
        z-index: $z-index-2;
      }

      &__menu-list {
        padding: 0;
      }

      &__option {
        @include transition;

        padding-inline-start: rem(16px);
        padding-block: rem(6px);
        cursor: pointer;

        &:hover {
          background-color: var(--primary-hover);
          color: var(--text-for-material);
        }

        &--is-focused {
          background-color: var(--primary-hover);
        }

        &--is-selected {
          background-color: var(--primary-disabled);
          color: var(--text-for-material);
        }
      }
    }
  }

  // Editor
  .tox {
    &.tox-silver-sink {
      .tox-tooltip {
        &__body {
          background-color: var(--material);
          color: var(--text-for-material);
        }
      }

      .tox-menu {
        border: 0;
        background-color: var(--material);
        box-shadow: none;
        color: var(--text-for-material);
      }

      .tox-collection {
        &__group {
          padding-block: 0;
          background-color: var(--material-hover);
        }

        &__item {
          color: var(--text-for-material);

          &--active {
            &:not(.tox-collection__item--state-disabled) {
              background-color: var(--link)!important;
            }
          }

          &--enabled {
            &:not(.tox-collection__item--state-disabled) {
              background-color: var(--link-hover)!important;
            }
          }
        }

        &__item-label {
          color: var(--text-for-material);

          * {
            color: currentcolor!important;
          }
        }

        &__item-checkmark {
          color: var(--text-for-material);
        }
      }

      .tox-toolbar {
        &__group {
          gap: rem(1px);
          background-color: var(--material-hover);
          cursor: pointer;
          border-color: var(--border) !important;
        }

        &__overflow {
          border: rem(1px) solid var(--material)!important;
        }
      }

      .tox-dialog {
        border: 0;
        background-color: var(--material);
        box-shadow: none;
        color: var(--text-for-material);

        &__footer,
        &__header {
          background-color: inherit;
          color: inherit;
          border-color: var(--material-hover);
        }
      }

      .tox-icon,
      .tox-label {
        color: var(--text-for-material);
      }

      .tox-listboxfield,
      .tox-textfield {
        border-radius: 3px;
        background-color: var(--material-hover);
        box-shadow: none;
        color: var(--text-for-material);
        border-color: transparent;

        .tox-listbox--select {
          border: 0;
          background-color: var(--material-hover);
          color: var(--text-for-material);

          &:focus {
            outline: none;
            background-color: var(--material-hover);
            border-color: var(--link);
          }
        }

        &:focus {
          outline: none;
          background-color: var(--material-hover);
          border-color: var(--link);
        }
      }

      .tox-listbox {
        &__select-chevron {
          svg {
            fill: var(--text-for-material);
          }
        }
      }

      .tox-dialog-wrap {
        &__backdrop {
          background-color: rgb(0 0 0 / 75%);
        }
      }

      .tox-button--naked {
        border: 0;

        @include hover {
          &:hover {
            background-color: var(--primary-hover)!important;
          }
        }
      }

      .tox-tbtn {
        background-color: var(--material)!important;

        svg {
          fill: var(--text-for-material)!important;
        }

        @include hover {
          &:hover {
            background: var(--link)!important;
          }
        }
      }
    }
  }
}

.tooltip {
  max-width: rem(320px);
  background-color: var(--material-hover)!important;
  z-index: $z-index-10;
  font-size: rem(12px)!important;
  color: var(--text-for-material)!important;
}
