@use 'scss/config' as *;

.block {
  --input-height: 56px;

  @include size(100%, var(--input-height));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.sm {
    --input-height: 46px;

    .input {
      padding-inline: rem(8px);
    }
  }

  &.md {
    --input-height: 52px;

    .input {
      padding-inline: rem(12px);
    }
  }

  @include hover {
    &:hover {
      .input {
        border-color: var(--link);
      }
    }
  }
}

.label {
  @include transition;

  position: absolute;
  top: rem(18px);
  left: rem(16px);
  padding-inline: rem(4px);
  border-radius: var(--border-radius-4);
  background-color: var(--material-disabled);
  border: rem(1px) solid var(--border);
  transform: translateY(rem(-23px));
  color: var(--text-for-material);
  font-size: rem(10px);
  pointer-events: none;

  span {
    margin-left: rem(3px);
    color: var(--red);
  }
}

.input {
  @include transition(border-color);
  @include size(100%);

  border: rem(1px) solid var(--border);
  border-radius: var(--border-radius-default);
  background-color: var(--primary);
  padding-inline: rem(16px);
  color: var(--text-for-material);
  overflow: hidden;
  caret-color: currentColor;
  font-weight: var(--typography-thin);
  text-align: left;

  &[type='datetime-local'],
  &[type='date'] {
    width: 100%;
    direction: ltr;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='white'%3E%3Cpath d='M216 64C229.3 64 240 74.7 240 88L240 128L400 128L400 88C400 74.7 410.7 64 424 64C437.3 64 448 74.7 448 88L448 128L480 128C515.3 128 544 156.7 544 192L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 192C96 156.7 124.7 128 160 128L192 128L192 88C192 74.7 202.7 64 216 64zM480 496C488.8 496 496 488.8 496 480L496 416L408 416L408 496L480 496zM496 368L496 288L408 288L408 368L496 368zM360 368L360 288L280 288L280 368L360 368zM232 368L232 288L144 288L144 368L232 368zM144 416L144 480C144 488.8 151.2 496 160 496L232 496L232 416L144 416zM280 416L280 496L360 496L360 416L280 416zM216 176L160 176C151.2 176 144 183.2 144 192L144 240L496 240L496 192C496 183.2 488.8 176 480 176L216 176z'/%3E%3C/svg%3E");
    background-position: right rem(16px) top 50%;
    background-repeat: no-repeat;
    background-size: rem(24px);

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }

  &[type='number'] {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &::-moz-number-spin-box,
    &::-moz-number-spin-up,
    &::-moz-number-spin-down {
      display: none;
    }
  }

  &::-webkit-date-and-time-value {
    text-align: left;
  }

  &:focus {
    border-color: var(--link);
  }

  &:is(:-webkit-autofill, :autofill) {
    -webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
    -webkit-text-fill-color: var(--text-for-material);
    -webkit-background-clip: text;
  }
}
