@use 'scss/config' as *;

.input {
  @include transition(border-color);
  @include size(100%);

  padding-inline: rem(16px) var(--input-height);
  border: rem(1px) solid var(--border);
  border-radius: var(--border-radius-default);
  background-color: var(--primary);
  overflow: hidden;
  text-align: start;
  color: var(--text-for-material);
  caret-color: currentcolor;
  cursor: pointer;

  &[type='datetime-local'],
  &[type='date'] {
    &::-webkit-calendar-picker-indicator {
      @include size(rem(52px), 100%);
      @include absolute-center-right(0);

      opacity: 0;
      z-index: $z-index-1;
    }
  }

  &[type='number'] {
    appearance: textfield;

    &::-moz-number-spin-box,
    &::-moz-number-spin-up,
    &::-moz-number-spin-down {
      display: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  &::-webkit-date-and-time-value {
    text-align: start;
  }

  &:focus {
    border-color: var(--link);
  }
}

.block {
  --input-height: 56px;

  @include size(100%, var(--input-height));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.sm {
    --input-height: 46px;

    .input {
      padding-inline-start: rem(8px);
    }
  }

  &.md {
    --input-height: 52px;

    .input {
      padding-inline-start: rem(12px);
    }
  }

  @include hover {
    &:hover {
      .input {
        border-color: var(--link);
      }
    }
  }
}

.label {
  @include transition;

  position: absolute;
  top: rem(18px);
  left: rem(16px);
  padding-inline: rem(4px);
  border: rem(1px) solid var(--border);
  border-radius: var(--border-radius-4);
  background-color: var(--material-disabled);
  transform: translateY(rem(-23px));
  font-size: rem(10px);
  color: var(--text-for-material);
  pointer-events: none;

  span {
    margin-inline-start: rem(3px);
    color: var(--red);
  }
}

.remove {
  @include absolute-center-right(0);

  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: 100%;

  @include hover {
    &:hover {
      opacity: 1;
    }
  }
}
