@use 'scss/config' as *;

.block {
  @include flex($direction: column);
  @include scroll-x;

  position: relative;
}

.table {
  width: 100%;
  min-width: rem(800px);
}

.cell {
  @include flex($align-items: center, $wrap: wrap);

  padding: rem(8px);

  &.pointer {
    cursor: pointer;
  }

  &.default {
    pointer-events: none;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(50px), 1fr));
  border-bottom: rem(1px) solid var(--border);
  font-size: rem(12px);

  &:last-child {
    border-bottom: 0;
  }

  &:first-child {
    .cell {
      flex-wrap: nowrap;
      gap: rem(4px);
      font-weight: var(--typography-medium);
    }
  }
}

.count {
  &.down {
    color: var(--red);
  }
}

.empty {
  padding: rem(12px);
  text-align: center;
}
