@use 'scss/config' as *;

.block {
  @include make-spacer(mb, 16px);
  @include make-spacer(p, 16px);
  @include flex($direction: column);

  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  background-color: var(--color-white);
  height: 100%;

  &:last-child {
    @include make-spacer(mb, 0);
  }

  &.transparent {
    border-radius: unset;
    box-shadow: unset;
    background-color: transparent;
  }

  &.sm {
    height: auto;

    .body {
      overflow: unset;
    }
  }
}

.grid {
  @include make-spacer(mb, rem(16px));

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
}

.row {
  display: grid;
  //grid-template-columns: rem(70px) repeat(5, 1fr) rem(100px) repeat(3, 1fr) rem(135px);
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  border-bottom: rem(1px) solid var(--color-border);
  font-size: rem(12px);
  font-weight: var(--typography-medium);

  &:last-child {
    border-bottom: 0;
  }

  &.wide {
    grid-template-columns: 1fr;
  }
}

.cell {
  @include flex(null, center, null, wrap);
  @include make-spacer(p, 12px);

  &.wide {
    justify-content: center;
  }
}

.empty {
  @include make-spacer(p, 12px);

  text-align: center;
}
