@use 'scss/config' as *;

.block {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: 1fr repeat(3, auto);
  align-items: center;
  column-gap: rem(15px);
  padding-inline: rem(24px);
  margin-left: rem(56px);
  z-index: $z-index-10;
  background-color: var(--material);
  border-bottom: rem(1px) solid var(--primary);
  min-height: rem(65px);
}

.balance {
  @include flex($align-items: center);

  gap: rem(4px);

  p {
    &:not(:last-child) {
      &::after {
        content: ',';
      }
    }
  }

  span {
    font-size: rem(12px);
  }
}
