@use 'scss/config' as *;

.block,
.wrapper,
.form,
.grid {
  display: grid;
  gap: rem(16px);
}

.wrapper,
.grid {
  align-items: flex-start;

  @include tab-l {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  @include flex(flex-end);

  gap: rem(16px);
}
