@use 'scss/config' as *;

.block,
.form,
.grid {
  display: grid;
  gap: rem(16px);
}

.block,
.grid {
  align-items: flex-start;

  @include tab-l {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  @include flex(flex-end);

  gap: rem(16px);
}

.text {
  margin-bottom: rem(4px);
}

.banner {
  position: relative;
  border-radius: var(--border-radius-default);
  min-height: rem(150px);
  background-color: var(--material-hover);
  overflow: hidden;
}

.wrapper {
  @include size(100%);

  display: grid;
  align-items: center;
  gap: rem(32px);
  position: relative;
  padding: rem(16px);
  background-color: inherit;

  @include tab-s {
    grid-template-columns: 1fr 1fr;
  }
}

.picture {
  margin-inline: auto;
  max-width: rem(400px);
  order: 1;

  @include tab-s {
    order: 2;
  }
}

.content {
  @include flex(space-between, center, column);

  gap: rem(2px);
  order: 2;
  text-align: center;

  @include tab-s {
    order: 1;
    align-items: start;
    text-align: start;
  }
}

.button {
  margin-top: rem(12px);
  border-radius: rem(100px);
  min-width: rem(120px);
  min-height: rem(44px);
}

.title,
.subtitle {
  font-family: var(--font-family-alt);
  font-weight: var(--typography-bold);
  line-height: 1.3;
  text-transform: uppercase;
}

.subtitle {
  color: var(--yellow);

  @include tab-s {
    font-size: rem(32px);
  }
}

.description {
  font-size: rem(14px);
}

.label {
  margin-top: rem(4px);
  font-size: rem(12px);
}
