@use 'scss/config' as *;

.block {
  @include flex;

  position: relative;
  cursor: pointer;
  gap: rem(8px);

  &:hover {

    .item {
      border-color: var(--color-primary);
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.input {
  @include size(0);

  position: absolute;
  opacity: 0;

  &:checked ~ .item {
    background-color: var(--color-primary);
  }
}

.item {
  @include transition(all);
  @include size(rem(20px));

  border: rem(1px) solid var(--color-border);
  border-radius: var(--default-border-radius);
  background-color: var(--color-border);
}

.label {
  @include make-spacer(ml, 3px);

  color: var(--color-warning);
}
