@use 'scss/config' as *;

.item {
  @include transition(all);
  @include size(rem(20px));

  flex-shrink: 0;
  border: rem(1px) solid var(--border);
  border-radius: var(--border-radius-default);
  background-color: var(--primary);
}

.block {
  @include flex;

  gap: rem(8px);
  position: relative;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
  }

  @include hover {
    &:hover {
      .item {
        border-color: var(--link);
      }
    }
  }
}

.input {
  @include size(0);

  position: absolute;
  opacity: 0;

  &:checked ~ .item {
    background-color: var(--link);
  }
}

.label {
  margin-inline-start: rem(3px);
  color: var(--red);
}
