@use 'scss/config' as *;

.block {
  @include flex;

  position: relative;
  cursor: pointer;
  gap: rem(8px);

  &.disabled {
    pointer-events: none;
  }

  @include hover {

    &:hover {
      .item {
        border-color: var(--link);
      }
    }
  }
}

.input {
  @include size(0);

  position: absolute;
  opacity: 0;

  &:checked ~ .item {
    background-color: var(--link);
  }
}

.item {
  @include transition(all);
  @include size(rem(20px));

  border: rem(1px) solid var(--primary);
  border-radius: var(--border-radius-default);
  background-color: var(--primary);
  flex-shrink: 0;
}

.label {
  margin-left: rem(3px);
  color: var(--red);
}
