@use 'scss/config' as *;

.block,
.form,
.grid {
  display: grid;
  gap: rem(16px);
}

.block,
.grid {
  align-items: flex-start;

  @include tab-l {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  @include flex(flex-end);

  gap: rem(16px);
}

.text {
  margin-bottom: rem(4px);
}

.promo {
  padding: rem(16px) rem(16px);
  background-color: var(--material-hover);
  border-radius: var(--border-radius-10);
  overflow: hidden;
  margin-inline: auto;
  max-width: rem(800px);
}

.picture {
  position: relative;
  margin-bottom: rem(16px);
  border-radius: rem(6px);
  aspect-ratio: 16 / 8;
  object-fit: cover;
}

.button {
  margin-top: rem(16px);
}

.label {
  margin-top: rem(4px);
  font-size: rem(12px);
}
