@use 'scss/config' as *;

.block {
  gap: rem(8px);
  padding-left: rem(8px);
  font-size: rem(14px);
  white-space: nowrap;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  padding-top: rem(8px);
  padding-left: rem(2px);
}

.arrow {
  @include size(rem(14px), rem(12px));

  border-left: rem(1px) solid var(--link);
  border-bottom: rem(1px) solid var(--link);
}
