@use 'scss/config' as *;

.block {
  display: grid;
}

.upload {
  border-radius: var(--border-radius-4);
  overflow: hidden;
}

.input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.label {
  @include flex(center, center);
  @include transition;

  position: relative;
  padding-inline: rem(24px);
  min-width: rem(100px);
  line-height: 1;
  height: rem(48px);
  gap: rem(8px);
  overflow: hidden;
  text-align: center;
  background-color: var(--primary);
  cursor: pointer;

  &:active,
  &.active {
    background-color: var(--primary-hover);
  }

  @include hover {

    &:hover {
      background-color: var(--primary-hover);
    }
  }
}

.preview {
  position: relative;
  width: fit-content;
  margin-top: rem(16px);
  max-height: rem(300px);
  //aspect-ratio: 1 / 1;

  img {
    object-fit: cover;
  }

  @include desk-s {
    max-height: 100%;
  }
}

.close {
  @include size(rem(24px));

  position: absolute;
  top: rem(-8px);
  right: rem(-8px);
  padding: rem(5px);
  min-width: 0;
  border-radius: var(--border-radius-2);
}
