@use 'scss/config' as *;

.block {
  position: relative;
  z-index: 0;
  min-height: rem(300px);

  :global {

    .tox {
      border-radius: var(--border-radius-4);

      &.tox-tinymce {
        border: 0;
      }

      .tox-statusbar {
        display: none;
      }

      .tox-toolbar {

        &__group {
          cursor: pointer;
          border-right-color: var(--border)!important;
        }
      }

      .tox-toolbar-overlord {
        background-color: var(--primary);
        border-bottom: rem(1px) solid var(--border);
      }

      .tox-tbtn {
        @include transition;

        cursor: pointer;
        background-color: var(--material);
        color: var(--text-for-material);

        &--disabled {
          background-color: var(--material-disabled)!important;
          opacity: 0.5;
          pointer-events: none;
        }

        &--bespoke {

          &:focus {
            background-color: var(--link);
          }
        }

        svg {
          @include transition;

          fill: currentColor;
        }

        &:active {
          background-color: var(--link);
        }

        @include hover {

          &:hover {
            background-color: var(--link);
          }
        }
      }

      .tox-edit-area {

        &__iframe {
          background-color: var(--primary);
          //background-color: var(--material-hover);
        }
      }

      .tox-editor-header {
        background-color: transparent!important;
      }

      .tox-toolbar {
        background: var(--primary)!important;
        //background: var(--material-hover)!important;

        &__primary,
        &__overflow {
          background: none!important;
        }

        &__group {
          gap: rem(1px);
        }
      }
    }
  }
}
