@use 'scss/config' as *;

.block,
.form,
.grid {
  display: grid;
  gap: rem(16px);
}

.block,
.grid {
  align-items: flex-start;

  @include tab-l {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  @include flex(flex-end);

  gap: rem(16px);
}

.text {
  margin-bottom: rem(4px);
}

.label {
  margin-block: rem(4px) rem(8px);
  font-size: rem(12px);
}
