@use 'scss/config' as *;

.block {
  * {
    color: var(--text-for-material);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: unset;
    margin-bottom: rem(4px);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--typography-regular);
    filter: drop-shadow(rem(1px) rem(2px) 0 var(--material-hover));
  }

  h1 {
    line-height: 1;
  }

  p,
  blockquote {
    color: var(--sub-text);
  }

  img {
    margin-bottom: rem(12px);
    width: revert-layer;
    height: revert-layer;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  li {
    position: relative;
    padding-inline-start: rem(12px);

    &::before {
      @include size(rem(4px));

      position: absolute;
      inset-inline-start: 0;
      inset-block-start: rem(9px);
      border-radius: 50%;
      background-color: var(--link);
      content: '';
    }
  }

  a {
    display: initial;
    text-decoration: underline;
    color: var(--link);

    @include hover {
      &:hover {
        color: var(--link-hover);
      }
    }
  }
}
