@use 'scss/config' as *;

.block {
  display: grid;
  gap: rem(24px);

  @include tab-s {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: rem(16px);
  }
}

.list {
  display: grid;
  gap: rem(8px);

  @include tab-s {
    gap: rem(16px);
  }
}

.item {
  display: grid;
  position: relative;
  grid-template-columns: rem(65px) 1fr;
  align-items: center;
  justify-content: center;
  gap: rem(16px);
  padding-block: rem(4px);
  min-height: rem(65px);
  font-size: rem(14px);
  line-height: 1;

  &.wide {
    grid-template-columns: 1fr;
    gap: 0;
    border-bottom: rem(1px) solid var(--border);
    padding-inline-start: rem(20px);

    @include tab-s {
      grid-template-columns: rem(200px) 1fr;
    }
  }
}

.line {
  @include size(rem(8px), auto);

  position: absolute;
  inset-block: 0 rem(-1px);
  inset-inline-start: 0;
}

.title {
  @include flex($align-items: baseline);

  gap: rem(6px);
}

.circle {
  @include flex(center, center);
  @include size(rem(65px));

  border-radius: 50%;
}
