@use 'scss/config' as *;

.block {
  display: grid;
  gap: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: rem(1px) solid var(--border);
  font-size: rem(14px);
}

.head {
  @include flex($direction: column);

  gap: rem(16px);
  padding: rem(12px) rem(4px);
}

.body {
  @include flex($direction: column);

  row-gap: rem(6px);
  padding: rem(8px) rem(4px);
  border-top: rem(1px) solid var(--primary);
  height: 100%;
}
