@use 'scss/config' as *;

.block {
  @include transition;

  position: fixed;
  top: 0;
  bottom: 0;
  width: rem(56px);
  height: 100%;
  background-color: #031b1f;
  overflow: hidden;
  z-index: $z-index-10;
  color: #fff;
  border-right: rem(1px) solid var(--border);
  interpolate-size: allow-keywords;

  &.active {
    width: rem(320px);
  }
}

.divider {
  background-color: var(--border);
}

.wrapper {
  @include flex($direction: column);
  @include size(rem(320px), 100%);
}

.logo,
.action,
.setting {
  @include size(100%, rem(64px));
  @include flex(null, center);

  flex-shrink: 0;
  padding-inline-start: rem(7px);
}

.setting {
  button {
    @include size(rem(40px));
  }
}

.logo {
  a {
    @include size(rem(42px));
  }
}

.list {
  flex-grow: 1;
  overflow-y: auto;
}

.arrow {
  @include transition;

  text-align: end;
}

.details {
  @include transition;

  &[open] {
    .arrow {
      transform: rotate(180deg);
    }

    &::details-content {
      block-size: auto;
    }
  }

  &::details-content {
    block-size: 0;
    overflow: clip;
    transition: height 0.25s cubic-bezier(0, 0, 0.2, 1), content-visibility 0.25s allow-discrete;
  }
}

.link {
  @include transition;

  display: grid;
  grid-template-columns: rem(26px) 1fr rem(10px);
  align-items: center;
  column-gap: rem(16px);
  padding-inline: rem(16px) rem(24px);
  height: rem(48px);
  overflow: hidden;
  font-size: rem(13px);
  text-transform: uppercase;
  white-space: nowrap;
  list-style: none;

  @include hover {
    &:hover {
      background-color: var(--brand-hover);
      color: var(--text-for-brand);
    }
  }

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &.active {
    color: var(--link);
    pointer-events: none;
  }
}

.submenu {
  .link {
    grid-template-columns: 1fr;
    padding-inline-start: rem(32px);
  }
}

.item {
  cursor: pointer;

  &.active {
    .arrow {
      transform: rotateZ(180deg);
    }

    .submenu {
      display: block;
    }
  }
}

.line {
  @include transition;
  @include size(70%, rem(2px));

  margin-block: rem(2px);
  background-color: currentcolor;
}

.toggle {
  @include size(rem(40px));
  @include flex(center, center, column);

  &.active {
    .line {
      &:nth-child(1) {
        transform: translateY(6px) rotateZ(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(100%);
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotateZ(-45deg);
      }
    }
  }
}
