@use 'scss/config' as *;

.block {
  &.active {
    .list {
      -webkit-line-clamp: unset;
    }
  }
}

.list {
  @include line-clamp(2);
}

.button {
  margin-top: rem(5px);
  font-weight: var(--typography-medium);
  text-align: end;
  color: var(--link);

  @include hover {
    &:hover {
      color: var(--link-hover);
    }
  }
}
