@use 'scss/config' as *;

.block {

  &.active {

    .list {
      -webkit-line-clamp: unset;
    }
  }
}

.list {
  @include line-clamp(2);
}

.button {
  margin-top: rem(5px);
  text-align: right;
  color: var(--link);
  font-weight: var(--typography-medium);

  @include hover {
    &:hover {
      color: var(--link-hover);
    }
  }
}
